<img src="components/images/films.jpg" alt="Prophecy Films Logo">
    <p>Address: <br>Contact:</p>
    <p>2025 Prophecy Films. All rights reserved</p>
    <div>
      <a href="https://www.instagram.com/prophecy.films/"><img src="images/insta.png" alt="Instagram" style="border:0;width:45px;height:35px"></a>
      <a href="https://www.youtube.com/@prophecyfilms"><img src="images/yt.png" alt="YouTube" style="border:0;width:45px;height:35px"></a>
    </div>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
       </a>
       <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
         </a>