<h1>Micai Harrison's Mean Turtle ~ ITIS3135 Home</h1>
<nav>
        <a href="./">Home</a> *
        <a href="introduction.html">Introduction</a> *
        <a href="contract.html">Contract</a> *
        <a href="MeanTurtle.com/index.html">Brand</a> *
        <a href="web_evaluations.html">Form</a> *
        <a href="hobby/index.html">Hobby</a> *
        <a href="tables.html">Tables</a> *
        <a href="byo_intro.html">BYO</a> *
        <a href="project_overview.html">Project Overview</a> *
        <a href="slideshow.html">My Slides</a> *
        <a href="/project/index.html">Client Project</a>
</nav>
<nav>
    <a href="stuff/CR🗿PPy Page.html">CRAPPy</a> 
</nav>